.App {
  text-align: center;
  background-color: rgb(236, 227, 227);
}
.text-del{
  text-decoration: line-through;
}
.header {
  background-color: rgb(210, 205, 241);
  height: 200px;
  width: 80%;
  align-items: center;
  margin: auto;
  vertical-align: middle;
  line-height: 200px;
}
#navtitle {
  margin: auto;
  text-decoration: dashed;
  font-size: 75px;
  font-weight: 600;
}
#input {
  width: 80%;
  height: 30px;
  border-radius: 20px;
  font-size: 18px;
}
.inputbtn {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
}
.section {
  width: 80%;
  margin: auto;
}
.list {
  background-color: rgb(216, 210, 210);
  border-radius: 18px;
  width: 78%;
  margin: auto;
  text-align: left;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}
.list:hover{
  background-color: rgb(222, 225, 226);
}
.p {
  margin-left: 5px;
  margin-top: 1px;
  display: inline-block;
}

.trash {
  float: right;
  height: 40px;
  line-height: 40px;
  margin-right: 5%;
}
.check{
  float: right;
  height: 40px;
  line-height: 40px;
  margin-right: 5%;
}